<h2>User info</h2>

<h4>User info</h4>
<div class="profile-container">
 <h5 class="profile-name"><%= @user.name %></h5>
 <h5 class="profile-introduction"><%=@user.introduction %></h5>
  <%= image_tag('no_image.jpg') %>
</div>

<% @post_images.each do |post_image| %>
<div>
    <%= attachment_image_tag post_image, :profile_image %>
  <p>Name：<%= post_image.user.name %></p>
  <p>Image：<%= image_tag('no_image.jpg') %></p>
  <p>Introducttion：<%= post_image.user.introduction %></p>
</div>
<% end %>
