<h4>User info</h4>

<div class="profile-container">

  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <% if @user.id == current_user.id %>
 <h3 class="profile-name">name<%= @user.name %></h3>
 <h3 class="profile-name">introduction<%= @user.introduction %></p>
 <p><%= link_to "", edit_user_path(@user) %></p>
  <% end %>
</div>


<%= form_with model: @book, url: "book_path", local:true do |f| %>
  <h4>New book</h4>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_area :body %>
  <%= f.submit "Create Book",class: "btn btn-success" %>
<% end %>

<h4>My Books</h4>
