<h4>User info</h4>
<div class="profile-container">
 <h5 class="profile-name"><%= @user.name %></h5>
 <h5 class="profile-introduction"><%= ></h5>
  <%= image_tag('sample-author1.jpg') %>
</div>

<% @post_images.each do |post_image| %>
<div>
  <%= link_to post_image_path(post_image.id) do %>
    <%= attachment_image_tag post_image, :image %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag('sample-author1.jpg') %></p>
  <p>ショップ名：<%= post_image.shop_name %></p>
  <p>説明：<%= post_image.caption %></p>
  <p>ユーザーネーム：<%= post_image.user.name %></p>
</div>
<% end %>
<%= paginate @post_images %>

  <p>intrduction</p>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>

</div>


<%= form_with model: @book, url: "book_path", local:true do |f| %>
  <h4>New book</h4>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_area :body %>
  <%= f.submit "Create Book",class: "btn btn-success" %>
<% end %>

<h4>My Books</h4>
