<div class="container ">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <%= form_with model: @book, local:true do |f| %>
        <h1>Editing Book</h1>
        <p>Title</p>
        <%= f.text_field :title %>

        <p>Opinion</p>
        <%= f.text_area :body %>
        <br>
        <%= f.submit "Update Book",class: "btn btn-success" %>
        <br>
        <p><%= link_to "show", book_path(@book) %>
           <%= link_to "Back", books_path(@book.user) %>
        </p>
          <% end %>
    </div>
  </div>
</div>